.loader {
  font-weight: bold;
}

.error {
  font-weight: bold;
  color: red;
}

.is-hidden {
  display: none;
}

.cat-info {
  margin-top: 10px;
  display: flex;
}

.cat-info-text {
  margin-left: 20px;
}

p span {
  font-weight: bold;
}
