body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h2 {
  font-size: 38px;
}

p {
  font-size: 18px;
}

.loader {
  font-weight: bold;
}

.error {
  font-weight: bold;
  color: red;
}

.cat-info {
  margin-top: 10px;
  display: flex;
}

.is-hidden {
  display: none;
}

.cat-info-text {
  width: 640px;
  margin-left: 20px;
}

p span {
  font-weight: bold;
}
