body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  align-items: center;
}

h2 {
  font-size: 38px;
}

p {
  font-size: 18px;
}

/* .loader {
  font-weight: bold;
  text-align: center;
} */

.error {
  font-weight: bold;
  text-align: center;
  color: red;
}

.cat-info {
  /* border-radius: 5px; */
  width: 1024px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* box-shadow: 10px 5px 5px #5897fb; */
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

/* .is-hidden {
  display: none;
} */

.cat-info-text {
  width: 640px;
  margin-left: 20px;
  margin-right: 10px;
}

p span {
  font-weight: bold;
}

img {
  max-width: 480px;
}

.breed-select {
  max-width: 480px;
  margin: auto;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px dotted #5897fb;
  border-radius: 50%;
  display: block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}
